
body {
	background: #ccc;
	font-size: 16px;
	color: #999;
}

.container {
	margin: 50px auto;
	border: 6px solid orange;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 100px 25px;
	text-align: center;
	background: #fff;
}
h1 {
	font-size: 28px;
	margin-bottom: 10px;
}
button {
	margin-bottom: 20px;
}
.title {
	text-transform: uppercase;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
	display: inline-block;
}
ul {
	padding: 0;
	margin: 15px 0 0;
	min-height: 40px;
}
ul li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	padding: 5px;
	border-radius: 50%;
	border: 3px solid #28a745;
	width: 40px;
	height: 40px;
	line-height: 26px;
	font-weight: 700;
	color: orange;
	margin: 0 10px;
}
